<!-- Header _______________________________-->
<%= render "layouts/header", :locals => {:home_class => '', 
										 :gal_class => '',
										 :pack_class =>'',
										 :about_class => 'current-menu-item',
										 :contact_class => '',
	                                     :body_class => 'post has-featured-image'} %>
	                                     
<!-- MAIN CONTENT SECTION  _____________________________________________-->
	<section id="content" role="main">

		<div class="featured-image-header">
			<div id="">
				<%= image_tag("photography/fullscreen08.jpg", :alt => "") %>
			</div>
		</div>

		<div class="wrapper">
			<!-- WYSIWYG starts here __-->
			<div class="column-grid column-grid-3">
				<div class="column column-span-1 column-push-0 column-first">			
					<h4><strong>Who Is HariPrasanth</strong></h4>
				</div>
				<div class="column column-span-2 column-push-0 column-last">
					<p class=""><strong>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin.</strong></p>

					<p>He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me? " he thought. It wasn't a dream.</p>
				</div>
			</div>

			<hr class="divider" />

			<div class="column-grid column-grid-3">
				<div class="column column-span-1 column-push-0 column-first">			
					<h4><strong>What does he do</strong></h4>
				</div>
				<div class="column column-span-2 column-push-0 column-last">
					<h5><strong>Outdoor Photography</strong></h5>
					<p>His room, a proper human room although a little too small, lay peacefully between its four familiar walls.</p>

					<h5><strong>Studio Photography</strong></h5>
					<p>A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. </p>

					<h5><strong>Portraits & Weddings</strong></h5>
					<p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather.</p>
				</div>
			</div>

			<hr class="divider" />

			<div class="column-grid column-grid-3">
				<div class="column column-span-1 column-push-0 column-first">			
					<h4><strong>Camera & Lenses</strong></h4>
				</div>
				<div class="column column-span-2 column-push-0 column-last">
					<p>Any good camera system needs a robust lens lineup and one of the most important lenses in any system is a 35mm f/1.4. With a focal length that is wide enough to give a more expansive feel than a 50mm while tight enough to lend a sense of specificity sometimes lacking in wider angles of view, for some shooters a 35mm is the most comfortable view of the world.</p>
				</div>
			</div>

			<hr class="divider" />

			<div class="column-grid column-grid-3">
				<div class="column column-span-1 column-push-0 column-first">			
					<figure class="image-with-caption">
						<%= image_tag("photography/team1.jpg", :alt => "") %>
						
						<figcaption>
							<h2><strong>Johnny Walker</strong></h2>
							<h5>OWNER & MANAGER</h5>
							<p>Cras at posuere dui. Nunc bibendum imperdiet erat, a tempus odio pretium id. Praesent in convallis justo. Donec luctus nulla non venenatis condimentum. Fusce in justo consequat, convallis enim nec, ullamcorper purus.</p>
							<p><a href="#" class="button"><i class="icon-bubble"></i> &nbsp; Email Johnny</a></p>
						</figcaption>
					</figure>
				</div>
				<div class="column column-span-1 column-push-0">			
					<figure class="image-with-caption">
						<%= image_tag("photography/team2.jpg", :alt => "") %>
						<figcaption>
							<h2><strong>Jack S. Daniels</strong></h2>
							<h5>STUDIO PHOTOGRAPHER</h5>
							<p>Phasellus risus mauris, vehicula at molestie ut, egestas et dolor. Cras felis tortor, tempus rhoncus pulvinar non, rhoncus in erat.</p>
							<p><a href="#" class="button"><i class="icon-bubble"></i> &nbsp; Email Jack</a></p>
						</figcaption>
					</figure>
				</div>
				<div class="column column-span-1 column-push-0 column-last">
					<figure class="image-with-caption">
						<%= image_tag("photography/team3.jpg", :alt => "") %>
						<figcaption>
							<h2><strong>Casper Morgan</strong></h2>
							<h5>PHOTOGRAPHER</h5>
							<p>Donec sit amet purus eu felis sodales cursus in ac tortor. Quisque sollicitudin metus ligula, eget auctor sapien lacinia in.</p>
							<p><a href="#" class="button"><i class="icon-bubble"></i> &nbsp; Email Casper</a></p>
						</figcaption>
					</figure>
				</div>
			</div>
			
			<!-- WYSIWYG ends here __-->
		</div><!-- END .wrapper -->
		
	</section>
	
<!-- Javascripts ______________________________________-->
<%= javascript_include_tag "jquery.min.js" %>
<%= javascript_include_tag "retina.min.js" %> 

<!-- include image popups -->
<%= javascript_include_tag "jquery.magnific-popup.min.js" %>

<!-- include svg line drawing plugin -->
<%= javascript_include_tag "jquery.lazylinepainter.min.js" %>

<!-- include custom script -->
<%= javascript_include_tag "scripts.js" %>
	

