<!-- Header _______________________________-->
<%= render "layouts/header", :locals => {:home_class => '',
										 :gal_class => '',
										 :pack_class =>'',
										 :about_class => 'current-menu-item',
										 :contact_class => '',
	                                     :body_class => 'post has-featured-image'} %>

<!-- MAIN CONTENT SECTION  _____________________________________________-->
	<section id="content" role="main">

		<div class="featured-image-header">
			<div id="">
				<%= image_tag("/images/4website/about.JPG", :alt => "") %>
			</div>
		</div>

		<div class="wrapper">
			<!-- WYSIWYG starts here __-->
			<div class="column-grid column-grid-3">
				<div class="column column-span-1 column-push-0 column-first">
					<h4><strong>Who are we</strong></h4>
				</div>
				<div class="column column-span-2 column-push-0 column-last">
					<p class=""><strong>Studio Nathan is a renowned establishment since 1983 with experienced professionals mastered in the art of prettifying people</strong></p>

					<p>We are located near the peaceful shores of Pondicherry and also operate from Chennai. Our vibrant set of professional wedding
					photographers never miss to capture the moment and our creative editors take pride in bringing life to the candid shots.
					We make sure that your sweet moments are cherished throughout your lifetime.  </p>
				</div>
			</div>

			<hr class="divider" />

			<div class="column-grid column-grid-3">
				<div class="column column-span-1 column-push-0 column-first">
					<h4><strong>What we do</strong></h4>
				</div>
				<div class="column column-span-2 column-push-0 column-last">
					<h5><strong>Weddings</strong></h5>
					<p>With all our focus on you, we only care about capturing your once in a lifetime moments. You are at your best, your emotions are peaking and you are surrounded by people who matter the most. Now, just imagine all the beautiful moments that will happen, Moments that we will help you to retain and treasure for life. We capture photo to help you relive those precious moments of love, laughter and happily ever after.</p>
					
					<h5><strong>Outdoor Photography</strong></h5>
					<p>We know the perfect places and have the best equipments to capture the real natural you.</p>


				</div>
			</div>



			<hr class="divider" />

			<div class="column-grid column-grid-3">
				<div class="column column-span-1 column-push-0 column-first">
					<h4><strong>Why Studio Nathan</strong></h4>
				</div>
				<div class="column column-span-2 column-push-0 column-last">
					<p>At Studio Nathan we make sure we carry the right gears to capture the moments as natural as they are and our photobooks acts as time machine to time travel your memories we use state of art technology with creativity to make that happen.</p>
				</div>
			</div>
			<hr class="divider" />

			<!-- WYSIWYG ends here __-->
		</div><!-- END .wrapper -->

	</section>
	<footer id="footer" role="contentinfo">
		<p class="copyright">studionathan &copy; 2016</p>
			<ul class="social-icons">
				<li><a href="#" target="_blank" title="Flickr"><i class="icon-flickr"></i></a></li>
				<li><a href="https://www.facebook.com/studionathan/" target="_blank" title="Facebook"><i class="icon-facebook"></i></a></li>
				<li><a href="#" target="_blank" title="Twitter"><i class="icon-twitter"></i></a></li>
			</ul>
	</footer>
<!-- Javascripts ______________________________________-->


<!-- include image popups -->
<%= javascript_include_tag "/javascripts/jquery.magnific-popup.min.js" %>

<!-- include svg line drawing plugin -->
<%= javascript_include_tag "/javascripts/jquery.lazylinepainter.min.js" %>

<!-- include custom script -->
<%= javascript_include_tag "/javascripts/scripts.js" %>
