<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" ></script>
<%= javascript_include_tag "/javascripts/select2.min.js" %>
<!-- Header _______________________________-->
<%= render "layouts/header", :locals => {:home_class => '',
										 :gal_class => '',
										 :pack_class =>'',
										 :about_class => '',
										 :contact_class => 'current-menu-item',
	                                     :body_class => ''} %>

<!-- MAIN CONTENT SECTION  _____________________________________________-->
	<section id="content" role="main">


		<div class="wrapper">
			<!-- WYSIWYG starts here __-->

			<div class="column-grid column-grid-3">
				<div class="column column-span-1 column-push-0 column-first">
					<p class="big"><strong>T</strong>: &nbsp;  (+91) 9952474346<br />
					<strong>E</strong>:  &nbsp;  <a href="#">thestudionathan@gmail.com</a></p>


				</div>
				<div class="column column-span-2 column-push-0 column-last">
					<h2>Contact Us</h2>
					<p>Please fill in the following form to contact us</p>

					<div id="message"></div>
					<form method="post" action="#" name="contactform" id="contactform">

					<fieldset>
						<p class="form-column">
							<label for="name" accesskey="U"><span class="required">*</span> Your Name</label>
							<input name="name" type="text" id="name" size="30" value="" />
						</p>
						<p class="form-column">
							<label for="email" accesskey="E"><span class="required">*</span> Email</label>
							<input name="email" type="text" id="email" size="30" value="" />
						</p>
						<p class="form-column">
							<label for="occation" ><span class="required">*</span> Occation</label>
							<select  multiple="multiple" name="occation" id="occation" size="30">
								<option value=""></option>
								<option value="prewed">Pre Wedding shoot</option>
								<option value="reception">Reception</option>
								<option value="wed">Wedding</option>
								<option value="postwed">Post Wedding shoot</option>
								<option value="birthday">Birthday</option>
							</select>
						</p>
						<p class="form-column">
							<label for="date" ><span class="required">*</span> Date</label>
							<input name="date" type="text" id="event_date" size="30" value="" />
						</p>
						<p>
							<label for="comments" accesskey="C"><span class="required">*</span> Your comments</label>
							<textarea name="comments" cols="40" rows="3" id="comments"></textarea>
						</p>

						<p><span class="required">*</span> Are you human?
							<%= recaptcha_tags %>

							<input type="submit" class="submit" id="submit" value="Submit" />
						</p>
					</fieldset>

					</form>
				</div>
			</div>

			<!-- WYSIWYG ends here __-->
		</div><!-- END .wrapper -->

	</section>

	<footer id="footer" role="contentinfo">
		<p class="copyright">studionathan &copy; 2016</p>
			<ul class="social-icons">
				<li><a href="#" target="_blank" title="Flickr"><i class="icon-flickr"></i></a></li>
				<li><a href="#" target="_blank" title="Facebook"><i class="icon-facebook"></i></a></li>
				<li><a href="#" target="_blank" title="Twitter"><i class="icon-twitter"></i></a></li>
			</ul>
	</footer>
<!-- Javascripts ______________________________________-->


<!-- include image popups -->
<%= javascript_include_tag "/javascripts/jquery.magnific-popup.min.js" %>

<!-- include svg line drawing plugin -->
<%= javascript_include_tag "/javascripts/jquery.lazylinepainter.min.js" %>

<!-- include custom script -->
<%= javascript_include_tag "/javascripts/scripts.js" %>
<script>
$(function() {
  $('#event_date').datepicker();
});
</script>

<script>
$(document).ready(function() {
	$("#occation").select2();
});

</script>
