<!-- Header _______________________________-->
<%= render "layouts/header", :locals => {:home_class => '', 
										 :gal_class => '',
										 :pack_class =>'',
										 :about_class => '',
										 :contact_class => 'current-menu-item',
	                                     :body_class => ''} %>
	                        
<!-- MAIN CONTENT SECTION  _____________________________________________-->
	<section id="content" role="main">

		
		<div class="wrapper">
			<!-- WYSIWYG starts here __-->
			
			<div class="column-grid column-grid-3">
				<div class="column column-span-1 column-push-0 column-first">
					<p class="big"><strong>T</strong>: &nbsp;  (123) 456-789<br />
					<strong>E</strong>:  &nbsp;  <a href="#">info@haristudio.com</a></p>
					
					
				</div>
				<div class="column column-span-2 column-push-0 column-last">
					<h2>Contact Us</h2>
					<p>Please fill in the following form to contact us</p>
					
					<div id="message"></div>
					<form method="post" action="#" name="contactform" id="contactform">

					<fieldset>
						<p class="form-column">
							<label for="name" accesskey="U"><span class="required">*</span> Your Name</label>
							<input name="name" type="text" id="name" size="30" value="" />
						</p>
						<p class="form-column">
							<label for="email" accesskey="E"><span class="required">*</span> Email</label>
							<input name="email" type="text" id="email" size="30" value="" />
						</p>

						<p>
							<label for="comments" accesskey="C"><span class="required">*</span> Your comments</label>
							<textarea name="comments" cols="40" rows="3" id="comments"></textarea>
						</p>

						<p><span class="required">*</span> Are you human?
							<label for="verify" accesskey="V" class="inline">&nbsp;&nbsp;&nbsp;3&nbsp;+&nbsp;1&nbsp;=</label>
							<input name="verify" type="text" id="verify" size="4" value="" style="width: 30px;" />
							
							<input type="submit" class="submit" id="submit" value="Submit" />
						</p>
					</fieldset>

					</form>
				</div>
			</div>
			
			<!-- WYSIWYG ends here __-->
		</div><!-- END .wrapper -->
		
	</section>

<!-- Javascripts ______________________________________-->
<%= javascript_include_tag "jquery.min.js" %>
<%= javascript_include_tag "retina.min.js" %> 

<!-- include image popups -->
<%= javascript_include_tag "jquery.magnific-popup.min.js" %>

<!-- include svg line drawing plugin -->
<%= javascript_include_tag "jquery.lazylinepainter.min.js" %>

<!-- include custom script -->
<%= javascript_include_tag "scripts.js" %>
