<!-- Header _______________________________-->
<%= render "layouts/header", :locals => {:home_class => 'current-menu-item',
										 :gal_class => '',
										 :pack_class =>'',
										 :about_class => '',
										 :contact_class => '',
	                                     :body_class => 'home fullscreen'} %>


<!-- MAIN CONTENT SECTION  _____________________________________________-->
	<section id="content" role="main">
		<div class="wrapper">
			<!-- WYSIWYG -->
			<div class="gallery fullscreen-gallery">
				<figure class="gallery-item landscapes">
					<header class='gallery-icon'>
						<a href="#"><img src="images/4website/1.jpg"  alt="" /></a>
					</header>
					<figcaption class='gallery-caption'>
						<div class="entry-summary">
							<h2>Professional Candid Wedding Photography Services</h2>
						</div>
					</figcaption>
				</figure>

				<figure class="gallery-item landscapes">
					<header class='gallery-icon'>
						<a href="#"><img src="images/4website/2.jpg"  alt="" /></a>
					</header>
					<figcaption class='gallery-caption'>
						<div class="entry-summary">
							<h2>Professional Candid Wedding Photography Services</h2>
						</div>
					</figcaption>
				</figure>

				<figure class="gallery-item landscapes">
					<header class='gallery-icon'>
						<a href="#"><img src="images/4website/3.jpg"  alt="" /></a>
					</header>
					<figcaption class='gallery-caption'>
						<div class="entry-summary">
							<h2>Professional Candid Wedding Photography Services</h2>
						</div>
					</figcaption>
				</figure>



			</div>


			<!-- END WYSIWYG -->

		</div><!-- END .wrapper -->
	</section>
	<footer id="footer" role="contentinfo">
		<p class="copyright">studionathan &copy; 2016</p>
			<ul class="social-icons">
				<li><a href="#" target="_blank" title="Flickr"><i class="icon-flickr"></i></a></li>
				<li><a href="#" target="_blank" title="Facebook"><i class="icon-facebook"></i></a></li>
				<li><a href="#" target="_blank" title="Twitter"><i class="icon-twitter"></i></a></li>
			</ul>
	</footer>

<!-- Javascripts ______________________________________-->
<%= javascript_include_tag "/javascripts/retina.min.js" %>
<!-- include Masonry -->
<%= javascript_include_tag "/javascripts/isotope.pkgd.min.js" %>
<!-- include image popups -->
<%= javascript_include_tag "/javascripts/jquery.magnific-popup.min.js" %>
<!-- include mousewheel plugins -->
<%= javascript_include_tag "/javascripts/jquery.mousewheel.min.js" %>
<!-- include gallery cycle plugin -->
<%= javascript_include_tag "/javascripts/jquery.cycle.min.js" %>
<!-- include carousel plugins -->
<%= javascript_include_tag "/javascripts/jquery.tinycarousel.min.js" %>
<!-- include svg line drawing plugin -->
<%= javascript_include_tag "/javascripts/jquery.lazylinepainter.min.js" %>

<script>
$("#logo").hide()
</script>
<!-- include custom script -->
<%= javascript_include_tag "scripts.js" %>
<script>
$(function() {
    $(".gallery-item img").lazyload();
});
</script>
