<!-- Header _______________________________-->
<%= render "layouts/header", :locals => {:home_class => 'current-menu-item',
										 :gal_class => '',
										 :pack_class =>'',
										 :about_class => '',
										 :contact_class => '',
	                                     :body_class => 'home fullscreen'} %>


<!-- MAIN CONTENT SECTION  _____________________________________________-->
	<section id="content" role="main">
		<div class="wrapper">
			<!-- WYSIWYG -->
			<div class="gallery fullscreen-gallery">
				<% @photos.each do |photo| %>
				  <figure class="gallery-item <%= photo.gallery.name.downcase %>">
				    <header class='gallery-icon'>
				      <a href="#">
								<img class="lazy" src="<%= photo.image.thumb %>" data-orig="<%= photo.image %>" alt="" />
							</a>
				    </header>
						<figcaption class='gallery-caption'>
							<div class="entry-summary">
								<h2>Professional Candid Wedding Photography Services</h2>
							</div>
						</figcaption>
				  </figure>
				<% end %>
				<% if @photos.length == 0 %>
					<figure class="gallery-item">
						<header class='gallery-icon'>
							<a href="#"><img class="lazy" src="/images/load.gif" data-orig="images/4website/1.jpg"  alt="" /></a>
						</header>
						<figcaption class='gallery-caption'>
							<div class="entry-summary">
								<h2>Professional Candid Wedding Photography Services</h2>
							</div>
						</figcaption>
					</figure>
				<% end%>
		</div>


			<!-- END WYSIWYG -->

		</div><!-- END .wrapper -->
	</section>
	<footer id="footer" role="contentinfo">
		<p class="copyright">studionathan &copy; 2016</p>
			<ul class="social-icons">
				<li><a href="#" target="_blank" title="Flickr"><i class="icon-flickr"></i></a></li>
				<li><a href="https://www.facebook.com/studionathan/" target="_blank" title="Facebook"><i class="icon-facebook"></i></a></li>
				<li><a href="#" target="_blank" title="Twitter"><i class="icon-twitter"></i></a></li>
			</ul>
	</footer>

<!-- Javascripts ______________________________________-->
<%= javascript_include_tag "/javascripts/retina.min.js" %>
<!-- include Masonry -->
<%= javascript_include_tag "/javascripts/isotope.pkgd.min.js" %>
<!-- include image popups -->
<%= javascript_include_tag "/javascripts/jquery.magnific-popup.min.js" %>
<!-- include mousewheel plugins -->
<%= javascript_include_tag "/javascripts/jquery.mousewheel.min.js" %>
<!-- include gallery cycle plugin -->
<%= javascript_include_tag "/javascripts/jquery.cycle.min.js" %>
<!-- include carousel plugins -->
<%= javascript_include_tag "/javascripts/jquery.tinycarousel.min.js" %>
<!-- include svg line drawing plugin -->
<%= javascript_include_tag "/javascripts/jquery.lazylinepainter.min.js" %>

<script>
$("#logo").hide()
</script>
<!-- include custom script -->
<%= javascript_include_tag "scripts.js" %>
<script>
jQuery(document).ready(function() {
	$("img.lazy").lazyload(
			{ data_attribute: "orig",
				threshold : 200
			});
});
</script>
<script>
function handleVisibilityChange() {
	 if (document.hidden) {
		    var shtml = "<img height='1' width='1' style='display:none' src='https://io.customerlabs.co/cl?id=cl3n0ys5l8N&data=JTI1N0IlMjUyMmV2ZW50JTI1MjIlMjUzQSUyNTIycGFnZXZpZXclMjUyMiUyNTJDJTI1MjJ0eXBlJTI1MjIlMjUzQSUyNTIycGFnZXZpZXclMjUyMiUyNTJDJTI1MjJhdHRyaWJ1dGVzJTI1MjIlMjUzQSUyNTdCJTI1N0QlMjUyQyUyNTIyaWRlbnRpZnklMjUyMiUyNTNBZmFsc2UlMjUyQyUyNTIydHN0YW1wJTI1MjIlMjUzQTE0NjIyNTYyNDg2NzElMjUyQyUyNTIydWlkJTI1MjIlMjUzQSUyNTIyQ0wuMTIzNC5URVNUJTI1MjIlMjUyQyUyNTIyc2lkJTI1MjIlMjUzQSUyNTIyQ0wuMjAzMjcyOTg1OS40NDY2NDkxODElMjUyMiUyNTJDJTI1MjJzcmMlMjUyMiUyNTNBJTI1MjJEaXJlY3QlMjUyMiUyNTJDJTI1MjJzcmNfdHlwJTI1MjIlMjUzQSUyNTIyVW5rbm93biUyNTIyJTI1MkMlMjUyMnZhbF90cmslMjUyMiUyNTNBJTI1N0IlMjU3RCUyNTJDJTI1MjJ2X3R5cCUyNTIyJTI1M0ElMjUyMlJldHVybmluZyUyNTIyJTI1MkMlMjUyMnRpdGxlJTI1MjIlMjUzQSUyNTIyUmFpbHMlMjUyMHNhbXBsZSUyNTIwYXBwJTI1MjAlMjU3QyUyNTIwSG9tZSUyNTIyJTI1MkMlMjUyMmxpbmslMjUyMiUyNTNBJTI1MjJodHRwJTI1M0ElMkYlMkZsb2NhbGhvc3QlMjUzQTMwMDAlMkYlMjUyMiUyNTJDJTI1MjJicm93c2VyJTI1MjIlMjUzQSUyNTIyTW96aWxsYSUyNTIwRmlyZWZveCUyNTIyJTI1MkMlMjUyMnBsYXRmb3JtJTI1MjIlMjUzQSUyNTIyTGludXglMjUyMiUyNTJDJTI1MjJtb2JpbGVfZGVza3RvcCUyNTIyJTI1M0ElMjUyMkRlc2t0b3AlMjUyMiUyNTJDJTI1MjJzY3JlZW5fc2l6ZSUyNTIyJTI1M0ElMjUyMjE5MjAlMjUyMHglMjUyMDEwODAlMjUyMiUyNTJDJTI1MjJ2ZXJzaW9uJTI1MjIlMjUzQSUyNTdCJTI1MjJqcyUyNTIyJTI1M0ElMjUyMjEuMC4wJTI1MjIlMjUyQyUyNTIyc25pcHBldCUyNTIyJTI1M0ElMjUyMiUyNTIyJTI1N0QlMjUyQyUyNTIybHNpZCUyNTIyJTI1M0ElMjUyMjIlMjUyMiUyNTdE'/>"
		setTimeout(function(){
			$("body").append(shtml);
      console.log("added pix");
		},10000)
	 }
}
document.addEventListener("visibilitychange", handleVisibilityChange, false);
</script>
