<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi Hariprasanth, </h1>
    <p>
      You have an enquiry from Studionathan,
      <br/>
    </p>
    <p><strong>Name :</strong>
      <%= @message[:name] %>.
    </p>
    <p><strong>Email :</strong>
      <%= @message[:email] %>.
    </p>
    <p><strong>Occation :</strong>
      <%= @message[:occation] %>.
    </p>
    <p><strong>Date :</strong>
      <%= @message[:date] %>.
    </p>
    <p><strong>Comments :</strong>
      <%= @message[:comments] %>.
    </p>
    <p>Have a great day!</p>
  </body>
</html>
