<!DOCTYPE html >
<html>
 <head>
    <meta charset="utf-8">
	
   <link rel="Shortcut Icon" type="image/ico" href="favicon.ico" />
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   
   <title><%= title %></title>
   <%= csrf_meta_tag %>
   <%= render "layouts/stylesheets" %>
   
 </head>
 	
	<%= yield %>
		
	<%= render "layouts/footer"  %>
	<%= debug(params) if Rails.env.development? %>

 </body>

</html>
